 <a class="btn btn-lg btn-primary" href="{% url 'products' %}">Products</a> 
 <a class="btn btn-lg btn-primary" href="{% url 'contactus' %}">ContactUs</a>
 <a class="btn btn-lg btn-primary" href="{% url 'reviews' %}">Reviews</a>

<h1>Welcome to ABC Online shop</h1>
  <p>
    ABC Phone Shop provides you with the latest smartphones at the lowest prices. We are industry leaders, offering a convenient shopping experience.
  </p>
  <p>
    You can explore our products in this online shop. All products come with a two-year warranty and include after-sales service. Please contact us if you need more information about our products.
  </p>
    <h3>Copy right @ UJP, FMSC, ITC 2024</h3> 
</p>
