<div class="container"> 
  <div class="card mb-3"> 
    <div class="row g-0"> 
      <div class="col-md-8"> 
        <div class="card-body"> 
          <!-- Product name--> 
          <h5 class="fw-bolder">{{product.pname}}</h5> 
          <h4> 
          ${{product.price}} 
          <p class = "card-text"> 
          {{product.description}} 
          </p> 
          </div> 
          <p class = "card-text"> 
          {{product.category}} 
          </p> 
        </div> 
      </div> 
    </div> 
  </div> 
</div> 